:root {
  --orange-color: #da722c;
  --dark-blue-color: #023047;
  --drak-color: #070917: --light-color:#e8f7fb;
  --light-blue-color: #6f7dfb;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
div#container {
  width: 100%;
}
.navbar {
  background-color: #f34c4c;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 10px 10px 10px 4px;
  opacity: .9;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 20px;
}

.navbar li {
  margin: 0;
  padding: 0;
}
.navbar a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  /* background-color: #524f4f; */
  /* border-radius: 10px; */
/* width: 100px; */
/* background-color: rgba(252, 246, 246, 0.694); */
  color: rgb(225, 216, 216);
}
.logo a {
  color: #2c49da   ;
}
.navbar img {
  height: 50px;
  width: 50%; /* Adjust the width here */
  margin: 5px 0; /* Adjust the margin if needed */
}
.logo {
  position: relative;
  left: 60px;
  top: 10px;
  font-size: 25px;
}
img#icons {
  width: 10px;
  height: 10px;
  border: none;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}
#image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1530px;
}
#image-slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.image {
  flex: 0 0 100%;
  height: auto;
}
.dot-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Style for individual slide dots */
.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

/* Active dot style */
.dot.active {
  background-color: #717171;
}
#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}
#prev-btn {
  left: 10px;
}
#next-btn {
  right: 10px;
}
img {
  width: 100%;
  /* border: double; */
}
.msg {
  display: flex;
  margin: auto;
  width: 250px;
}
h1#sena {
  color: firebrick;
}
#pera::before {
    content: '';
    width: 26px;
    height: 19px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAATBAMAAACTqWsLAAAAHlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC3KG9qAAAACnRSTlMAMgkYDikgJRQRFGjJKQAAAJFJREFUGNNNzrERwjAMBVAFcHJ0fIMDpSmgDhvAXQYgTOCMwAZQsjVfkou48Lsvy7JF1zob8rN9i4956Y354D0YlJDEq9GYitEiK109vMUlKwwmitFhOU/ORyPgNdodjHfSADjRibLvQcC6sq+xeESNO0bvamp8e2yVJyermb/xkYHo018gES1HupmTffOKPssfXdcREEqt1kIAAAAASUVORK5CYII=) center center/26px 19px no-repeat;
    display: inline-block;
    margin: 0 6px 0 0;
    vertical-align: top;
}
#pera::after{
content: '';
width: 26px;
height: 19px;
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAATBAMAAAB8awA1AAAAHlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC3KG9qAAAACnRSTlMAMwgUGCkkGw4fK5TeFwAAAI9JREFUGNNNjjEOwjAQBFdGSkjH2qCILgUPICUdkUKfwAtAiJqKGhp6fky828TFjfY85zO+DXQuqp9aCONNvJ6FkvuMinbbJPyisPRlsYFO5y6fcHeuLqx2NTw4ALueWQn9iRElybyjnZBU+UbIWGN0Kp1os5glOEWZW9gc9MoKCB6vNKYNacLhcdRPXvcGfxDxEtjE63xEAAAAAElFTkSuQmCC) center center/26px 19px no-repeat;
display: inline-block;
vertical-align: top;
margin: 0 0 0 6px;
}
#pera{
  text-align: center;
}
.news {
  margin-left: 300px;
}
.news {
  display: flex;
  width: 850px;
}
a#Videos {
  margin: auto;
  width: 200px;
}
a#Videos:hover{
 color: rgb(250, 248, 243);
}
img#video {
  border: inset;
}
#video_123{
  width: 185px; 
  margin-left: 10px
}
/* img#video:hover{
  width: 100px;
} */
.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
#gallerys {
  width: 300px;
  margin: auto;
  border: ridge;
}
#gallerys:hover{
  width: 350px;
  cursor: pointer;
}
.title{
  text-align: center;
}
.links{
  background: linear-gradient(135deg,#cb2229 0,#673239 100%);
  width:100%;
  height: 400px;
 margin-top: 20px; 
}
.heading>h1 {
  text-align: center;
  color: white;
}

#apps {
  width: 180px;
  position: relative;
  left: 400px;
  border: none;
  bottom: 23px;
}
h2.app_1{
  margin-left: 400px;
  background-color: darksalmon;
  width: 200px;
}
.jsp_app {
  background-color: rgb(247, 241, 241);
  width: 112px;
  height: 30px;
  position: relative;
  bottom: 240px;
  left: 430px;
  border-radius: 5px;
  
}
.jsp_google {
  width: 15px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}
.jsp_apple{
  background-color: rgb(247, 241, 241);
  width: 112px;
  height: 30px;
  position: relative;
  bottom: 200px;
  left: 430px;
  border-radius: 5px;
  
}
.jsp_applestore{
  width: 15px;
  border: none;
  margin-top: 5px;
}
.membership {
  width: 485px;
  float: right;
  position: relative;
  bottom: 425px;
}
h2.asthra {
  background: #9d988969;
  width: 200px;
  height: 28px;
}
.jsp_app2{
width: 180px;
border: none;
position: relative;
bottom: 23px;
}
.jsp_app_2playstore {
  background: white;
  width: 115px;
  height: 28px;
  border-radius: 5px;
  position: relative;
  bottom: 230px;
  left: 29px;
}
.jsp_app_2applestore{
  background: white;
  width: 115px;
  height: 28px;
  border-radius: 5px;
  position: relative;
  bottom: 190px;
  left: 29px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  color: rgb(127, 2, 2);
}
.footer {
  width: 950px;
  display: flex;
  margin: auto;
  position: relative;
  left: 220px;
  top: 25px;
}
.youtube {
  width: 40px;
  border: 1px solid;
  background-color: rgb(241, 231, 231);
  border-radius: 100px;
  margin: 1px;
}
.instagram {
  width: 40px;
  border: 1px solid;
  background-color: rgb(244, 165, 165);
  border-radius: 100px;
  margin: 1px;
}
.twitter {
  width: 40px;
  border: 1px solid;
  background-color: rgb(255, 254, 254);
  border-radius: 100px;
  margin: 1px;
}
.social_media {
  width: 224px;
  position: relative;
  top: 50px;
  left: 690px;
}
marquee {
  color: orange;
  font-size: 25px;
  background-color: #4343425c;
}
@media screen and (min-width:320px) and (max-width:1434px) {
  div#container {
    margin: auto;
    width: 100%;
    margin-left: 100px;
}
.navbar {
  width: 802px;
}
.navbar ul {
  gap: 10px;
}
.logo{
  display: none;
}
#image-container {
  width: 802px;
}
  .msg {
    margin-left: 260px;
}
#pera {
  width: 780px;
}
.news {
  margin: auto;
  display: block;
  margin-left: 100px;
}
img#video {
width: 487px;
margin-left: 10px;
}
a#Videos {
  margin: auto;
  width: 200px;
  padding: 17px 6px 40px 40px;
}
img#video {
  margin-left: 0;
  width: 500px;
}
#video_123{
  width: 500px;
  margin-left: 0;
}
.title {
  width: 810px;
}
.gallery {
  grid-template-columns: auto auto;
  gap: 10px;
  /* margin: auto; */
  width: 800px;
}
  .links {
    width: 800px;
}
.app {
  position: relative;
  right: 100px;
} 
.jsp_app {
  left: 327px;
}
.jsp_apple {
  left: 327px;
}

.link {
  position: relative;
  right: 150px;
}
.app2 {
  position: relative;
  left: 128px;
}
.footer {
  /* width: 950px; */
  display: block;
  margin: auto;
  left: 220px;
  top: 25px;
}
.social_media {
  width: 224px;
  left: 200px;
}
marquee {
    display: none;
}
.heading>h1 {
  text-align: center;
}
  
}